---
---

@import "{{ site.theme }}";
#project_tagline {display: none;}
#header_wrap {background: #005EB8;}
a:link {text-decoration: underline;}
a:focus {outline: 3px solid #005EB8;text-decoration: underline;}
a:hover {font-weight: bold;text-decoration: underline;}
